
.concertoFavoritoQdr-info{

  position: relative;
  width: 378px;
  height: 4.62rem;
  margin: 1rem auto 1rem auto ;

  background-color: #32323288;
  border-radius: 3.81rem;
  background-image: linear-gradient(to right, black, transparent);

  color: #e6e6e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.concertoFavoritoQdr-imagem .imagem{
  width: 70px;
  height: 70px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 20px;
  filter: brightness(0.8);
  background-position: center;
  background-size: cover;

  position: absolute;
  left: 0;
  bottom: 0;
}



.coracao2-box{
  position: absolute;
  right: 2rem;
  bottom: 1.4rem;
  width: 1.9rem;
  height: 2rem;
  border-radius: 1rem;

  background-color: #000000;
  transition: background-color 0.2s ease-in-out;
}

.coracao2-box:hover{
  background-color: red;
}

.concerto1-coracao{
  position: absolute;
  right: 2.43rem;
  bottom: 1.9rem;
  padding: 0.42rem 0.5rem;

  color: #e6e6e6;
  font-size: 0.8rem;

  background: url("../../assets/icons/heart_full.svg");

}

.info{
  position: absolute;
  left: 5rem;
  white-space: nowrap;

  .concertoFavoritoQdr-titulo > span{
    color: #e6e6e6;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.52rem;
    margin-bottom: 0.2rem;

  }

  .concertoFavoritoQdr-data{
    color: #F29544;
    font-size: 0.75rem;
    line-height: 0.98rem;
    margin-bottom: 0.2rem;
  }

  .concertoFavoritoQdr-morada{
    color: #757575;
    font-size: 0.75rem;
    line-height: 0.98rem;
    margin-bottom: 0.2rem;
  }

}
